if has nix; then
  use flake
fi

export DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock
export KO_DOCKER_REPO=ko.local/envoy-oidc-authserver

[[ -f localhost.pem || -f localhost-key.pem ]] || mkcert localhost
