version: "3"

services:
  front-envoy:
    image: docker.io/envoyproxy/envoy:v1.28-latest
    volumes:
      - ./run/config/envoy.yaml:/envoy.yaml
    depends_on:
      podinfo:
        condition: service_healthy
    command:
      - -c
      - /envoy.yaml
    network_mode: host
    ports:
      - "${PORT_PROXY:-8000}:8000"

  dex:
    image: ghcr.io/dexidp/dex:latest
    volumes:
      - ./run/config/dex.yaml:/dex.yaml
    ports:
      - "${PORT_DEX:-5556}:5556"
    network_mode: host
    command:
      - dex
      - serve
      - /dex.yaml

  opa:
    image: docker.io/openpolicyagent/opa:latest-envoy-static
    volumes:
      - ./run/config/policy.rego:/policies/policy.rego
    ports:
      - "${PORT_OPA:-9191}:9191"
    command:
      - run
      - --server
      - --log-level=debug
      - --set=plugins.envoy_ext_authz_grpc.addr=:9191
      - --set=plugins.envoy_ext_authz_grpc.path=envoy/authz/allow
      - --set=decision_logs.console=true
      - --set=status.console=true
      - --ignore=.*
      - /policies/policy.rego
    network_mode: host

  otel:
    image: docker.io/otel/opentelemetry-collector-contrib
    volumes:
      - ./run/config/otel.yaml:/etc/otel/config.yaml
    ports:
      - "${PORT_OTEL:-4317}:4317"
    network_mode: host

  redis-master:
    image: redis
    network_mode: host

  redis-slave:
    image: redis
    command: >
      bash -c "echo 'port 6380' > slave.conf &&
      echo 'replicaof 127.0.0.1 6379' >> slave.conf &&
      cat slave.conf &&
      redis-server slave.conf"
    network_mode: host

  redis-sentinel:
    image: redis
    command: >
      bash -c "echo 'port 26379' > sentinel.conf &&
      echo 'dir /tmp' >> sentinel.conf &&
      echo 'sentinel monitor mymaster 127.0.0.1 6379 1' >> sentinel.conf &&
      echo 'sentinel down-after-milliseconds mymaster 5000' >> sentinel.conf &&
      echo 'sentinel parallel-syncs mymaster 1' >> sentinel.conf &&
      echo 'sentinel failover-timeout mymaster 5000' >> sentinel.conf &&
      cat sentinel.conf &&
      redis-server sentinel.conf --sentinel"
    network_mode: host

  podinfo:
    image: ghcr.io/stefanprodan/podinfo
    network_mode: host
