apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/component: oidc-authserver

resources:
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: oidc-authserver
    files:
      - oidc-providers.yaml

images:
  - name: ghcr.io/shelmangroup/envoy-oidc-authserver
    newTag: 0.0.14
