issuer: http://localhost:5556/dex

storage:
  type: sqlite3
  config:
    file: /tmp/dex.db

web:
  http: 0.0.0.0:5556

staticClients:
  - id: podinfo
    redirectURIs:
      - "http://localhost:8000/_authz/callback"
    name: "Podinfo App"
    secret: test1234

connectors:
  - type: mockCallback
    id: mock
    name: Example

enablePasswordDB: true
