issuer: http://localhost:5556/dex

storage:
  type: sqlite3
  config:
    file: /tmp/dex.db

web:
  http: 0.0.0.0:5556
  allowedOrigins: ["*"]

oauth2:
  responseTypes: ["code"]
  skipApprovalScreen: true

staticClients:
  - id: podinfo
    redirectURIs:
      - "http://localhost:8000/_authz/callback"
    name: "Podinfo App"
    public: true
    # secret: test1234

connectors:
  - type: mockCallback
    id: mock
    name: Mock Provider

# Uncomment this block to enable configuration for the expiration time durations.
# Is possible to specify units using only s, m and h suffixes.
expiry:
  deviceRequests: "5m"
  signingKeys: "6h"
  idTokens: "5m"
  refreshTokens:
    reuseInterval: "3s"
    validIfNotUsedFor: "360h" # 15 days
    absoluteLifetime: "720h" # 30 days

enablePasswordDB: true
