sessionExpiration: 48h
providers:
  - issuerURL: http://localhost:5556/dex
    callbackURI: http://localhost:8000/_authz/callback
    clientID: podinfo
    # clientSecret: test1234 # omit for PKCE auth
    cookieNamePrefix: podinfo
    # secureCookie: true # disable for local development
    opaPolicy: |
      package authz

      import input.attributes.request.http

      import rego.v1

      default allow = false

      allow if {
        action_allowed
      }

      # allow callback path
      action_allowed if {
          http.method == "GET"
          glob.match("/_authz/callback*", ["/"], http.path)
      }

      action_allowed if {
          http.method == "GET"
          glob.match("/api/info", ["/"], http.path)
      }

      action_allowed if {
          http.method == "GET"
          glob.match("/", ["/"], http.path)
      }
    scopes:
      - openid
      - profile
      - email
      - offline_access
    headerMatch:
      name: :authority
      exact: localhost:8000
