sessionExpiration: 48h
providers:
  - issuerURL: http://localhost:5556/dex
    callbackURI: http://localhost:8000/_authz/callback
    clientID: podinfo
    # clientSecret: test1234 # omit for PKCE auth
    cookieNamePrefix: podinfo
    disableSecureCookie: true # disable for local development
    # disablePassAuthorizationHeader: true # disable Authorization header passing to downstream service
    logout:
      redirectURI: http://localhost:5556/dex/end-session
      path: /_authz/logout
    preAuthPolicy: |
      package authz

      import rego.v1
      import input.attributes.request.http as httpreq

      default allow = false
      default bypass_auth = false

      jwks_url := "http://localhost:5556/dex/keys"

      allow if {
        action_allowed
        print("allowed:", action_allowed)
      }

      bypass_auth if {
        print("bypass", pre_authed)
        pre_authed
      }

      # allow callback/logout path
      action_allowed if {
        httpreq.method == "GET"
        glob.match("/_authz/*", ["/"], httpreq.path)
      }

      action_allowed if {
        httpreq.method == "GET"
        glob.match("/api/info", ["/"], httpreq.path)
      }

      action_allowed if {
        httpreq.method == "GET"
        glob.match("/headers", ["/"], httpreq.path)
      }

      action_allowed if {
        httpreq.method == "GET"
        print("request path:", httpreq.path)
        glob.match("/", ["/"], httpreq.path)
      }

      pre_authed if {
        token.valid
      	now := time.now_ns() / 1000000000
        now < token.payload.exp
        token.payload.email == "kilgore@kilgore.trout"
      }

      headers["x-ext-authz-allow"] := "true" if { allow == true }
      headers["x-ext-authz-pre-policy"] := "true"
      headers["foo"] := "bar"

      jwks_request(url) := http.send({
        "url": url, "method": "GET", "force_cache": true, "force_cache_duration_seconds": 3600
      })

      token := { "payload": payload, "valid": valid } if {
        [_, parsed_jwt] := split(httpreq.headers["authorization"], " ")
        jwks := jwks_request(jwks_url).raw_body
        valid := io.jwt.verify_rs256(parsed_jwt, jwks)
        [_, payload, _] := io.jwt.decode(parsed_jwt)
      }

      valid_tenents := { "securityteam", "devteam", "foo", "bar" }
      token_payload_groups := [ "OpsTeam", "SecurityTeam" ]
      groups_set := { lower(x) | x := token_payload_groups[_] }
      groups := groups_set & valid_tenents

      headers["X-Scope-OrgID"] := concat("|", array.concat(["fake"], [ x | x := groups[_] ]))

    postAuthPolicy: |
      package authz
      import rego.v1

      default allow = false

      allow if {
        token.payload.email == "kilgore@kilgore.trout"
      }

      headers["x-ext-authz-allow"] := "true" if { allow == true }
      headers["x-ext-authz-post-policy"] := "true"
      headers["foo"] := "baz"

      token := { "payload": payload } if {
        [_, payload, _] := io.jwt.decode(input.parsed_jwt)
      }
    scopes:
      - openid
      - profile
      - email
      - offline_access
    headerMatch:
      name: :authority
      exact: localhost:8000
