sessionExpiration: 48h
providers:
  - issuerURL: http://localhost:5556/dex
    callbackURI: http://localhost:8000/_authz/callback
    clientID: podinfo
    # clientSecret: test1234 # omit for PKCE auth
    cookieNamePrefix: podinfo
    # secureCookie: true # disable for local development
    opaEnabled: true
    # allowAuthHeaderPassThrough: true
    scopes:
      - openid
      - profile
      - email
      - offline_access
    headerMatch:
      name: :authority
      exact: localhost:8000
