name: release
on:
  push:
    tags:
      - "v*"
jobs:
  goreleaser:
    runs-on: shelmangroup-default
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            flake.lock
            flake.nix
            .envrc

      - uses: cachix/install-nix-action@v22
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: aldoborrero/direnv-nix-action@v2
        with:
          use_nix_profile: true

      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KO_DOCKER_REPO: ghcr.io/shelmangroup/envoy-oidc-authserver
        run: goreleaser release --clean
